*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{text-decoration: none;}
.clear{clear: both;}

.center{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

header{
    background: #5e3ea1;
    padding: 10px 0;
}

header > .center{
    display: flex;
}

.logo{
    color: wheat;
    font-size: 21px;
    width: 50%;
}

.menu{
    text-align: right;
    width: 50%;
}

.menuul{list-style: none;}
.menu li{
    margin-right: 10px ;
    font-size: 21px;
    display: inline-block;
}

.menu a{
    color: wheat;
}




section.texto-chamada{
    background: #4c3282;
    padding: 30px;
    text-align: center;
    color: white;
}

section.texto-chamada i{
    font-size: 40px;
}

section.texto-chamada h2,
section.texto-chamada h3{
    
    font-weight: normal;
}
section.texto-chamada h3 > b{
    color: black;
}